html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.admin-wrapper{
    flex: 1;

}
.hidden{
    display: none;
}
.error-message{
    font-size: 1.2vw;
    height: 1.2vw;
    color: #ff463c;
    text-align: center;
}

.admin-select-form-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.admin-select-form{
    width: min-content;
    margin: 1vw auto 0;
}
.admin-select-form,.admin-form-wrapper form,.pagination{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: min-content;

}
.admin-form-wrapper form{
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 2vw;
    width: 90vw;
    margin: 0 auto;
}
.pagination{
    flex-direction: row;
    width: min-content;
    margin: 3% auto;
}
.admin-form-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.admin-form-wrapper form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    letter-spacing: 0px;
    color: #2B2B2B;
    opacity: 1;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1vw;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    /*width: min-content;*/
}

.admin-form-wrapper form input,.admin-select-form-wrapper select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0238BF;
    border-radius: 10px;
    opacity: 1;
    width: 10vw;
    height: 2em;
    padding: 0.1vw 0.5vw;
}
.admin-form-wrapper form input{
    width: 5vw;
}
.admin-form-wrapper form button , .deleteRow button{
    align-self: center;
    margin-top: 3vw;
    border: 1px solid #0238BF;
    text-align: center;
    letter-spacing: 0px;
    color: #0238BF;
    padding: 1em 2em;
    cursor: pointer;
}
.admin-form-wrapper form button{
    align-self: flex-end;
}
.deleteRow{
    display: flex;
}
.deleteRow button{
    margin: 0 auto;
    padding: 0.3vw;
    border: 1px solid red;
    color: red;
}
button {
    background-color: unset;
}

button:hover,
button:focus {
    outline: unset;
}
.grupa-varsta-admin,.nivelul-educatiei-admin,.medie-rezidenta-admin,.rate-somaj-admin{
    width: min-content;
    display: flex;
    flex-direction: row;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3B729F;
    color: white;
    text-align: center;
}
.table{
    width: 60vw;
    margin: 3% auto;
}


button, select {
    background-color: unset;
    border: unset;
}

button:hover,
button:focus, select:hover, select:focus {
    outline: unset;
}


.pagination-button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;

    color: black;
    border: 1px solid #3B729F;

}

pagination-button:hover {
    background-color: #0238BF;

}
#prev{
    margin-right: 3%;
}
/*@media*/
/*only screen and (max-width: 760px),*/
/*(min-device-width: 768px) and (max-device-width: 1024px)  {*/

/*    !* Force table to not be like tables anymore *!*/
/*     table, thead, tbody, th, td, tr {*/
/*        display: block;*/
/*    }*/

/*    !* Hide table headers (but not display: none;, for accessibility) *!*/
/*    .table  thead tr {*/
/*        position: absolute;*/
/*        top: -9999px;*/
/*        left: -9999px;*/
/*    }*/

/*    .table  tr { border: 1px solid #ccc; }*/

/*   .table td {*/
/*        !* Behave  like a "row" *!*/
/*        border: none;*/
/*        border-bottom: 1px solid #eee;*/
/*        position: relative;*/
/*        padding-left: 50%;*/

/*    }*/

/*    .table  td:before {*/
/*        !* Now like a table header *!*/
/*        position: absolute;*/
/*        !* Top/left values mimic padding *!*/
/*        top: 6px;*/
/*        left: 6px;*/
/*        width: 45%;*/
/*        padding-right: 10px;*/
/*        white-space: nowrap;*/
/*    }*/

/*    !**/
/*    Label the data*/
/*    *!*/
/*    .grupa   td:nth-of-type(1):before { content: "judet"; }*/
/*    .grupa td:nth-of-type(2):before { content: "TOTAL"; }*/
/*    .grupa  td:nth-of-type(3):before { content: "Sub 25 ani"; }*/
/*    .grupa  td:nth-of-type(4):before { content: "25 29 ani"; }*/
/*    .grupa   td:nth-of-type(5):before { content: "30 39 ani"; }*/
/*    .grupa  td:nth-of-type(6):before { content: "40 49 ani"; }*/
/*    .grupa   td:nth-of-type(7):before { content: "50 55 ani"; }*/
/*    .grupa  td:nth-of-type(8):before { content: "peste 55 ani	"; }*/
/*    .grupa   td:nth-of-type(9):before { content: "luna"; }*/
/*    .grupa  td:nth-of-type(10):before { content: "an"; }*/



/*.medie */
/*    .medie   td:nth-of-type(1):before { content: "JUDET"; }*/
/*    .medie td:nth-of-type(2):before { content: "NUMAR TOTAL SOMERI";    white-space: break-spaces; }*/
/*    .medie  td:nth-of-type(3):before { content: "NUMAR TOTAL SOMERI FEMEI";     white-space: break-spaces;}*/
/*    .medie  td:nth-of-type(4):before { content: "NUMAR TOTAL SOMERI BARBATI";    white-space: break-spaces; }*/
/*    .medie   td:nth-of-type(5):before { content: "NUMAR TOTAL SOMERI DIN MEDIUL URBAN";    white-space: break-spaces; }*/
/*    .medie  td:nth-of-type(6):before { content: "NUMAR SOMERI FEMEI DIN MEDIUL URBAN";    white-space: break-spaces; }*/
/*    .medie   td:nth-of-type(7):before { content: "NUMAR SOMERI BARBATI DIN MEDIUL URBAN";    white-space: break-spaces; }*/
/*    .medie  td:nth-of-type(8):before { content: "NUMAR TOTAL SOMERI DIN MEDIUL RURAL";     white-space: break-spaces;}*/
/*    .medie   td:nth-of-type(9):before { content: "NUMAR SOMERI BARBATI DIN MEDIUL RURAL	";     white-space: break-spaces;}*/
/*    .medie   td:nth-of-type(10):before { content: "luna"; }*/

/*    .medie  td:nth-of-type(11):before { content: "an"; }*/
/*}*/

@media screen and (max-width: 1100px) {
    .error-message{
        font-size: 5vw;
    }
    .admin-select-form-wrapper select{
        width: 40vw;
    }
        /*.table {*/
    /*    width: 100%;*/
    /*}*/
    .admin-form-wrapper form input {
        width: 25vw;
    }
    table thead {
        display: none;
    }

    table tr, table td {
        border-bottom: 1px solid #ddd;
    }

    table tr {
        margin-bottom: 8px;
    }

    table td {
        display: flex;
    }

    table td::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
    }
}
@media screen and (max-width: 500px) {
    .admin-select-form-wrapper select{
        width: 80vw;
    }
    .admin-form-wrapper form input {
        width: 80vw;
    }
    .table {
        width: 100%;
    }
    .error-message{
        font-size: 8vw;
    }
}