html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.admin-wrapper{
    flex: 1;

}
.hidden{
    display: none;
}
.error-message{
    font-size: 1.2vw;
    height: 1.2vw;
    color: #ff463c;
    text-align: center;
}

.admin-select-form-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.admin-select-form{
    width: min-content;
    margin: 1vw auto 0;
}
.admin-select-form,.admin-form-wrapper form,.pagination{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: min-content;

}
.admin-select-form-wrapper select{
    width: 11vw !important;
    margin-top: 3em !important;
    padding: 0.25vw 0.5vw !important;
    font-size: 1.5em !important;
}
.admin-form-wrapper form{
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 2vw;
    width: 90vw;
    margin: 0 auto;
}
.pagination{
    flex-direction: row;
    width: min-content;
    margin: 3% auto;
}
.admin-form-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.admin-form-wrapper form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    letter-spacing: 0px;
    color: #2B2B2B;
    opacity: 1;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1vw;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    /*width: min-content;*/
}

.admin-form-wrapper form input,.admin-select-form-wrapper select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0238BF;
    border-radius: 10px;
    opacity: 1;
    width: 10vw;
    height: 2em;
    padding: 0.1vw 0.5vw;
}
.admin-form-wrapper form input{
    width: 5vw;
}
.admin-form-wrapper form button , .deleteRow button{
    align-self: center;
    margin-top: 3vw;
    border: 1px solid #0238BF;
    text-align: center;
    letter-spacing: 0px;
    color: #0238BF;
    padding: 1em 2em;
    cursor: pointer;
}
.admin-form-wrapper form button{
    align-self: flex-end;
}
.deleteRow{
    display: flex;
}
.deleteRow button{
    margin: 0 auto;
    padding: 0.3vw;
    border: 1px solid red;
    color: red;
}
button {
    background-color: unset;
}

button:hover,
button:focus {
    outline: unset;
}
.grupa-varsta-admin,.nivelul-educatiei-admin,.medie-rezidenta-admin,.rate-somaj-admin{
    width: min-content;
    display: flex;
    flex-direction: row;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3B729F;
    color: white;
    text-align: center;
}
.table{
    width: 60vw;
    margin: 3% auto;
}


button, select {
    background-color: unset;
    border: unset;
}

button:hover,
button:focus, select:hover, select:focus {
    outline: unset;
}


.pagination-button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;

    color: black;
    border: 1px solid #3B729F;

}

pagination-button:hover {
    background-color: #0238BF;

}
#prev{
    margin-right: 3%;
}
@media screen and (max-width: 1600px) {
    .admin-select-form-wrapper select {
        width: 20vw !important;
    }
    .error-message{
        font-size: 1.7vw;
    }
}


@media screen and (max-width: 1100px) {
    .admin-select-form-wrapper select {
        width: 30vw !important;
    }
    .error-message{
        font-size: 5vw;
    }
    .admin-select-form-wrapper select{
        width: 40vw !important;
    }
        /*.table {*/
    /*    width: 100%;*/
    /*}*/
    .admin-form-wrapper form input {
        width: 25vw;
    }
    table thead {
        display: none;
    }

    table tr, table td {
        border-bottom: 1px solid #ddd;
    }

    table tr {
        margin-bottom: 8px;
    }

    table td {
        display: flex;
    }

    table td::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
    }
}
@media screen and (max-width: 500px) {
    .admin-select-form-wrapper select {
        width: 80vw !important;
    }
    .admin-form-wrapper form input {
        width: 80vw;
    }
    .table {
        width: 100%;
    }
    .error-message{
        font-size: 8vw;
    }
}

