/*.filter-wrapper {*/
/*    display: flex;*/

/*}*/

button:hover,
button:focus,
select:hover,
select:focus {
  outline: unset;
}
.page-wrapper {
  flex: 1;
}
.filter-form {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.settings {
  display: flex;
  flex-direction: column;
}

.filter-form select {
  margin-top: 0.5vw;
  width: auto;
  border-radius: 10px;
  border: 1px solid #c3d6e6;
  padding: 0.5vw 1vw;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}
#city1,
#city2 {
  width: 100%;
}
/*footer{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.error-message {
  font-size: 1.2vw;
  height: 1.2vw;
  color: #ff463c;
  text-align: center;
}
.container-wrapper {
  margin: 1vw auto;
  width: 50vw;
}

.download-buttons {
  display: flex;
  justify-content: center;
}

.download-buttons > a {
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0 0.25em;
}

#pdf-button {
  background-color: #b30b00;
  color: white;
}

#pdf-button:hover {
  background-color: white;
  color: #b30b00;
}

#csv-button {
  background-color: #378a5d;
  color: white;
}

#csv-button:hover {
  background-color: white;
  color: #378a5d;
}

#svg-button {
  background-color: #005a9c;
  color: white;
}

#svg-button:hover {
  background-color: white;
  color: #005a9c;
}

@media screen and (max-width: 1100px) {
  .container-wrapper {
    margin: 3vw auto;
    width: 75vw;
  }

  .download-buttons > a {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 500px) {
  .download-buttons > a {
    font-size: 1em;
  }
  .download-buttons {
    flex-wrap: wrap;
  }

  .error-message {
    font-size: 8vw;
  }
  .container-wrapper {
    margin: 6em auto;
    width: 95vw;
  }
  .filter-form {
    flex-direction: column;
  }
  .time-select select {
    width: 49%;
  }
  .filter-form select {
    margin-top: 0.35em;
  }
  .first {
    margin-top: 1em;
    width: 85vw;
  }
  .second,
  .settings {
    margin-top: 1.5em;
    width: 85vw;
  }
}
