#image-contact {
    z-index: -1;
    height: 20vw;
    width: 40vw;
    margin: 0 auto;
    padding: 0;
}

#image-contact * {
    margin: 0;
    padding: 0;
}
#error-message {
    font-size: 1.5em;
    height: 1.2vw;
    color: #ff463c;
    text-align: center;
}
.project-info {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.project-info p {
    margin-bottom: 0;
    font-size: 20px;
}

.project-title {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.5em;
}

.map-contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form-wrapper {
    padding-bottom: 5em;
}

.form-wrapper,
.map-contact {
    margin-top: 5em;
}

.form-wrapper,
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    align-items: flex-start;
}

.form>label {
    display: flex;
    flex-direction: column;
    text-align: left;
    letter-spacing: 0px;
    color: #2B2B2B;
    opacity: 1;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1%;
}

.form input,
textarea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0238BF;
    border-radius: 10px;
    opacity: 1;
    width: 40vw;
    height: 2em;
}

#mesaj {
    height: 7em;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    white-space: normal;
}

.form button {
    align-self: center;
    margin-top: 5%;
    border: 1px solid #0238BF;
    text-align: center;
    letter-spacing: 0px;
    color: #0238BF;
    padding: 1em 2em;
}

button {
    background-color: unset;
}

button:hover,
button:focus {
    outline: unset;
}

@media only screen and (max-width: 1100px) {
    .project-info {
        width: 90vw;
    }
    .form-wrapper,
    .map-contact {
        margin-top: 2em;
    }
    #image-contact {
        height: 50vh;
        width: 90vw;
    }
    .form>label {
        margin-top: 3%;
        font-size: 20px;
    }
    .project-info p {
        margin-bottom: 0;
        font-size: 16px;
    }
    .form input,
    textarea {
        width: 90vw;
    }
}