.footerContainer {
    background-color: #3b729f;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footerContainer a {
    text-decoration: none;
    color: #b8da9d;
    font-size: 17px;
}

.footerContainer ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.footerContainer li {
    list-style: none;
}

.footerContainer__siteuri p {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
    text-transform: uppercase;
}

.footerContainer__siteuri {
    flex: 1;
}

.footerContainer__socials {
    flex: 1;
}

.footerContainer__sigla>img {
    width: 100%;
}

.footerContainer__sigla {
    max-width: 10%;
}

.footerContainer__socials p {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
    text-transform: uppercase;
}

.footerContainer a:hover {
    color: rgb(255, 255, 255);
}

@media (max-width: 500px) {
    .footerContainer__sigla {
        display: none;
    }
}