.setari_generale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grafic_pie_doughnut {
    width: 32vw;
}

.grafic_general {
    width: 60vw;
}

.container {
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .grafic_pie_doughnut {
        width: 90vw;
    }
    .grafic_general {
        width: 90vw;
    }
}